# Welocme to the first python tutorial of the ECRE Kickoff Workshop!

In this first session we will cover:
1. Python Basics
2. Control Strucutres 
3. Functions
4. Using external packages

In each notebook we start with some worked examples followed by some exercises. Please feel free to ask questions whenever, either out loud or using the chat. We hope these tutorials are helpful!

# 01 - Introduction to Python and Python Basics

## Variables

Variables are very important and are objects that you can temporally set and overwrite

In [5]:
# Any line that starts with a '#' is a comment and not run as code

## Define a variable
a = 1    ## Integer
b = 2.0  ## Float
c = "3"  ## String
a # calling something at the end of cell will display it's value

1

In [6]:
## Overwrite a variable
a = 4
print(a) # can also use the print command to display results
b

4

2.0

One thing to be careful about with variables is not to overwrite already used names!

**Exercise**: In the cell below set a variable called mystring to the string "myvar" and display that variable at the end of the cell

### Numbers

Numbers will be very important in data science and they can manipulated in many ways. In the cells below we will use the variables set above to do some math

In [7]:
## You can do basic arithmetic 
## Addition
a + b

6.0

In [8]:
## Division
a / b

2.0

In [9]:
## Exponent
## NOTE: do not use '^', use '**'
b ** 2

4.0

In [10]:
## You don't need to use variables to do math
2 + 2

4

In [11]:
## Order of operations still holds
(2 + 2) * 3 / 4

3.0

In [12]:
## Variables can represent a "real" problem
width  = 100
height = 50
width * height ## Area

5000

In [13]:
## But be careful with variable names
area ## We calculated the area, but didn't _define the area

NameError: name 'area' is not defined

In [14]:
## Instead we would need to do something like the following
area = width * height
area

5000

**Exercise**: Calculate the volume of cone with a radius (r) of 7 and a height (h) of 12 (hint the answer should be 615.7). The formula for a cone is $\frac{\pi r^{2} h}{3}$

### Strings

Strings are mostly used to represent letters and words. However they are more general and will be used a lot is data sciecne.

In [15]:
## We already defined one before however notice it is not a number but a string representation of the number
c

'3'

In [20]:
## You can do some "math" on a string
## Multiplication (See how this is different than multiplcation on numbers?)
c * 4

'3333'

In [21]:
## Addition
c + 2 ## You can't add a number to a string

TypeError: can only concatenate str (not "int") to str

In [22]:
## But you can add a string to a string (concatenation)
c + "2"

'32'

In [23]:
## You can use single or double quotes to define a string
str_1 = 'string_1'
str_2 = "string_2"

print(str_1, "type =", type(str_1)) ## Print will print out whatever values you pass in, numbers or string
                                    ## "type" is a built-in function that describes your variables
print(str_2, "type =", type(str_2))

string_1 type = <class 'str'>
string_2 type = <class 'str'>

In [24]:
## You can both in a single string
print("don't")

don't

In [25]:
## But be careful with apostrophes in text
## The apostrophe breaks the string up incorrectly
print('don't')

SyntaxError: invalid syntax (<ipython-input-25-44e0585d15ac>, line 3)

**Exercise**: Using at least two variables concatentated together display the phrase "Data Sciecne" (remember to include the space)

## Data Structures

### Lists

Lists are one of the most imporant data strucutres you will come across in python. In general they are objects in which you can store different pieces of information in an ordered manner.

In [26]:
## We can group together a number of values, variables, etc. into a single
## object
my_list = [1, 4, 9, 16, 25]
my_list

[1, 4, 9, 16, 25]

In [27]:
## We get information out using indexing
## The first item is at index 0, not 1
my_list[0]

1

In [28]:
## The index 1 corresponds to the second item
my_list[1]

4

In [29]:
## We can get any number of values from a list by "slicing" it
my_list[0:3] ## This will get us the values at index 0, 1, and 2 (not 3, end point is not inclusive)

[1, 4, 9]

In [21]:
## We can add an element to a list
my_list.append(6 ** 2)

In [22]:
## Now if we look, we have another item
my_list

[1, 4, 9, 16, 25, 36]

In [23]:
## We can also do "math" with lists
my_new_list = [49, 64]
my_list + my_new_list ## Addition of lists corresponds to appending lists together

[1, 4, 9, 16, 25, 36, 49, 64]

In [24]:
## Note that this didn't change my_list
my_list

[1, 4, 9, 16, 25, 36]

In [25]:
## We can figure out how long our list is 
len(my_list) ## "len" is a built in function to tell us the length of an object

6

In [26]:
## The values of a list can be anything, including another list
x = [1, 2, 3]
x.append([4, 5]) ## Putting a list into another list
x

[1, 2, 3, [4, 5]]

In [27]:
## Check the length of the list
len(x)

4

In [28]:
## x has 4 elements, but 5 numbers
## We can still use indexing to access our numbers
x[3]

[4, 5]

In [29]:
## Now if we want to access the number 4, we would index x[3]
x[3][0]

4

**Exercise**: First create a list where the first element is your name and the second element is your favorite number. Second add to that first list another list of length three that contains your three favorite foods then display the final list

### Dictionaries

Dictionaries are similar to lists but they some more flexibility to how the data is stored

In [30]:
## Dictionaries are a "paired" data type
## consisting of keys and values
students = {"Nat": 2, "Kayla": 4, "Anna": 4, "Alex": 3, "Remy": 2} ## We use the '{}' brackets to make a dictionary
students

{'Nat': 2, 'Kayla': 4, 'Anna': 4, 'Alex': 3, 'Remy': 2}

In [31]:
## To access the data, we index using the key, not the index value
students[0]

KeyError: 0

In [32]:
## There is no key '0' in the dictionary
## We look up by the "keys"
students.keys() ## This is called a 'method' of the object

dict_keys(['Nat', 'Kayla', 'Anna', 'Alex', 'Remy'])

In [33]:
## These are what we have to use to index
students['Nat']

2

In [34]:
## 2 is the "value" associated to the "key" 'Nat'
## We can see all keys or all values
print(students.keys())
print(students.values())

dict_keys(['Nat', 'Kayla', 'Anna', 'Alex', 'Remy'])
dict_values([2, 4, 4, 3, 2])

In [35]:
## We can make an empty dictionary as well and add to it
new_dict = dict() ## Use dict() function
print(new_dict)
new_dict = {}     ## Or curly brackets
print(new_dict)

{}
{}

In [36]:
## And we can add to it from there
new_dict[1] = 1
new_dict[2] = 4
new_dict[3] = 9
new_dict

{1: 1, 2: 4, 3: 9}

In [37]:
## Or we can make the value something other than a number
new_dict[4] = "four"                ## Adding a string as a value
new_dict[5] = ["f", "i", "v", "e"]  ## Or it could be a list
new_dict

{1: 1, 2: 4, 3: 9, 4: 'four', 5: ['f', 'i', 'v', 'e']}

In [38]:
## But that doesn't change how we can access the data
new_dict[5] ## get value associated to the key 5

['f', 'i', 'v', 'e']

In [39]:
## And from there we can do normal operations
new_dict[5][0] ## Get the element at index 0 of the value associated to the key 5
               ## should be the letter 'f'

'f'

**Exercise**: If the value of dictionary is another dictionary this is called a nested dictionary. Create an empty dictionary called food. Then create two dictionaries in food; one called fruit and one called vegtables. Populate this nested dictionary with the following items as keys and the value being it's color. Lemon, tomato, broccoli, apple. Display the results are the end of the cell

### There are others

In [40]:
## There are more advanced types 
## Tuple
x = (1,2) 
print(x, type(x))

## Sets
x = set([1, 2, 2, 4, 5, 5, 5])
print(x, type(x))

## Multidimensional lists
x = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(x, type(x)) ## Closer to a 'matrix'

(1, 2) <class 'tuple'>
{1, 2, 4, 5} <class 'set'>
[[1, 2, 3], [4, 5, 6], [7, 8, 9]] <class 'list'>